/* =========LOGO========= */
.logo {
  height: 5.5rem;
  cursor: pointer;
  margin-left: 3rem;
}

/* ========Active Link========= */
.active {
  font-size: 1.3rem;
  font-weight: 600;
  color: red;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: rgb(255, 0, 0);
}

.hidden-indicator {
  visibility: hidden;
}

/* ====================== */

nav {
  height: 15vh;
  background: whitesmoke;
}
.seen {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  font-size: 1.2rem;
  gap: 1rem;
  padding-right: 3rem;
}

.navLink {
  color: black;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 2rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.navbar_content {
  display: flex;
  flex-direction: row;
  position: relative;
}

.hoverClr:hover {
  color: red;
}

.child {
  z-index: -1;
}
/* ====================Main==================== */
.main {
  margin-bottom: 7rem;
}

/* ===============Footer=============== */

.footer {
  padding: 3rem 0px 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  position: relative;
  color: whitesmoke;
}

.footer-contact {
  position: absolute;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  background-color: tomato;
  padding: 10px 10px;
  color: white;
  margin: 0% auto;
  bottom: 6rem;
}

.left-text {
  font-size: 2.5rem;
  font-weight: 600;
}

.rifgt-call-info {
  font-size: 2rem;
}

.right-call-number {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  display: flex;
  gap: 10px;
  color: whitesmoke;
}

.navLink-footer {
  text-decoration: none;
}

.navLink-footer > div {
  color: whitesmoke;
  opacity: 0.7;
  font-weight: 300;
}

/* -----------------------Media Queries(MD)----------------------- */
@media screen and (max-width: 1024px) {
  nav {
    position: relative;
  }
  .lines {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
  }
  .title {
    transform: translateY(-30%);
  }
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  .title {
    top: 32px;
  }
  .reTitle {
    font-size: 2.2rem;
    transition: all 0.5s ease-in-out;
  }
  .hamburger {
    position: relative;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(100px at 95% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    z-index: 999;
    font-size: 1.7rem;
    justify-content: center;
    gap: 1%;
  }
  .open {
    clip-path: circle(1800px at 90% -10%);
    -webkit-clip-path: circle(1800px at 90% -10%);
    z-index: 1000;
  }
}

/* -----------------------Media Queries(SM)----------------------- */
@media screen and (max-width: 600px) {
}
